<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group"
            [ngClass]="{
              'has-feedback': signupForm.get('userData.username').touched,
              'has-success': signupForm.get('userData.username').touched && signupForm.get('userData.username').valid,
              'has-error': signupForm.get('userData.username').touched && !signupForm.get('userData.username').valid
            }">
            <label for="username" class="control-label">Username</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </span>
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control" />
            </div>
            <span class="glyphicon form-control-feedback"
              [ngClass]="{
                'glyphicon-ok': signupForm.get('userData.username').valid && signupForm.get('userData.username').touched,
                'glyphicon-remove': !signupForm.get('userData.username').valid && signupForm.get('userData.username').touched
              }"
              aria-hidden="true"></span>
            <span
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="help-block">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="form-group"
            [ngClass]="{
              'has-feedback': signupForm.get('userData.email').touched,
              'has-success': signupForm.get('userData.email').touched && signupForm.get('userData.email').valid,
              'has-error': signupForm.get('userData.email').touched && !signupForm.get('userData.email').valid
            }">
            <label for="email" class="control-label">Email</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </span>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control" />
            </div>
            <span class="glyphicon form-control-feedback"
              [ngClass]="{
                'glyphicon-ok': signupForm.get('userData.email').touched && signupForm.get('userData.email').valid,
                'glyphicon-remove': signupForm.get('userData.email').touched && !signupForm.get('userData.email').valid
              }"
              aria-hidden="true"></span>
            <span
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
              class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
            *ngFor="let hobbyControl of hobbyControls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <div
          *ngIf="signupForm.invalid && signupForm.touched"
          class="alert alert-danger"
          role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Please enter valid data!
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
